*{
    font-family: "Poppins",sans-serif;
}

nav{
    background-color: rgb(197, 197, 197);
   
}

nav a{
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}

h1{
    background-color: orange;
    padding: 10px;
    

}

h1:hover{
    background-color: rgb(161, 0, 0);
    color: whitesmoke;
}

.flex-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: start;
    text-align: justify;

}

.flex-items{
    padding: 10px 100px 4px 100px;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 197, 197);
    margin: 5px;
    margin-left: 50px;
    
    
    
}

